* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-synthesis: none !important;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: "General Sans Medium", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(3rem, 5vw, 7rem);
    font-weight: 900;
    line-height: 0.9;
}


section {
    position: relative;
    width: 100%;
    height: 150svh;
    color: var(--text);
    background: var(--bg);
    overflow: hidden;
}

.intro,
.outro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg);
}


.svg-container svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-35%);
    width: 50%;
    min-width: 700px;
}

path[style*="00000165916812323603747700000005172204528299523731"],
path[style*="00000155118913244152270350000004269844240891065749"] {
    fill: var(--bg) !important;
}

.spotlight-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
    z-index: 2;
}

@media (max-width: 1000px) {

    .intro h1,
    .outro h1 {
        width: 75%;
    }

    .spotlight-header {
        width: 90%;
    }

    .spotlight {
        overflow: hidden;
    }
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg);
}

.about-title h1 {
    font-size: 10cqi;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    line-height: 0.7;
    padding-top: 100px;
    -webkit-font-smoothing: antialiased;
}

.about-section {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: #0f0a0a;
    gap: 100px;
}

.about-section h1 {
    font-size: 10cqi;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    line-height: 0.7;
    padding-top: 100px;
    -webkit-font-smoothing: antialiased;
    color: #F8F1FF;
}

.about-section p {
    color: #F8F1FF;
    font-size: 2cqi;
    max-width: 40%;
    text-align: center;
    font-family: "General Sans Regular", sans-serif;
}

.marquee-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f0a0a;
    position: relative;
    top: 120px;
    overflow-x: visible;
    z-index: 10;
}

.marquee-title h1 {
    font-size: 10cqi;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #F8F1FF;
    max-width: 50%;
    text-align: center;
}

.marquee-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    min-height: 100vh;
    overflow: hidden;
    background-color: #0f0a0a;
    position: relative;
    margin-bottom: 200px;
}

.marquee {
    padding: 1vw;
    white-space: nowrap;
    width: 150%;
    position: relative;
}

.marquee:first-child {
    background-color: #ff8200;
    transform: rotateZ(-10deg) translateX(-15%);
}

.marquee:last-child {
    background-color: #F8F1FF;
    transform: rotateZ(13deg) translateX(-5%);
    margin-top: -80px;
}

.marquee__inner {
    display: flex;
    gap: 20px;
}

.marquee__content {
    color: #F8F1FF;
    font-size: clamp(50px, 15.5vw, 140px);
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
}

.marquee:last-child .marquee__content {
    color: #0f0a0a;
}

.marquee__word {
    display: inline-block;
}

.marquee__dot {
    display: inline-block;
    margin: 0 50px;
}

.music-section {
    width: 100%;
    height: 450px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 200px;
}

.music-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: #F8F1FF;
}

.music-content h2 {
    font-size: 4cqi;
    overflow: visible;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: #F8F1FF;
    max-width: 60%;
}

.music-content p {
    color: #F8F1FF;
    font-size: 1cqi;
    font-family: "General Sans Regular", sans-serif;
    max-width: 55%;
}

.link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 200px 40px;
    margin-bottom: 200px;
}

.social-link {
    display: inline-block;
    font-size: 6cqi;
    overflow: hidden;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: #F8F1FF;
    text-decoration: none;
    transform: translateY(110%);
    transition: transform 0s;
}

.social-link {
    transition-delay: 0.1s;
}

.social-link {
    transition-delay: 0.18s;
}

.social-link {
    transition-delay: 0.26s;
}

.social-link {
    transition-delay: 0.34s;
}

/* Hover: betűnként fel-le */
.social-link .char {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.social-link:hover .char:nth-child(odd) {
    transform: translateY(-5%);
}

.social-link:hover .char:nth-child(even) {
    transform: translateY(5%);
}


.pskd-content__1 {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.pskd-line-wrap {
    position: relative;
    width: max-content;
    display: inline;
    margin: 0 auto;
    overflow: hidden
}

.pskd-line {
    position: relative;
    display: block;
    padding-inline: 5px;
    will-change: transform, opacity
}

.pskd-line-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    pointer-events: none;
    will-change: transform;
    z-index: 2;
    transform-origin: left center
}

.pskd-line,
.pskd-line-block {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

[letters-slide-up] .word {
    line-height: 1.3;
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 1000px) {

    .about-title h1 {
        font-size: 25cqi;
        padding-bottom: 100px;
    }

    .about-section {
        padding: 0 20px;
    }

    .about-section h1 {
        font-size: 20cqi;
        text-align: center;
        line-height: 1;
    }

    .about-section img {
        width: 70%;
    }

    .about-section p {
        font-size: 5cqi;
        max-width: 80%;
    }

    .marquee-container {
        margin-bottom: 100px;
    }

    .marquee-title {
        padding: 0 20px;
    }

    .marquee-title h1 {
        font-size: 15cqi;
        max-width: 100%;
    }

    .music-section {
        flex-direction: column;
        height: 110vh;
        padding: 0 20px;
    }

    .music-content h2 {
        max-width: 100%;
        font-size: 12cqi;
        text-align: center;
    }

    .music-content {
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }

    .music-content p {
        font-size: 4cqi;
        text-align: center;
        max-width: 70%;
    }

    .link-container {
        padding: 200px 20px;
    }

    .link-container a {
        font-size: 15cqi;
    }
}