* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-synthesis: none !important;
}


nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--bg);
}

nav button {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: var(--text);
    font-family: "General Sans Medium", sans-serif;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-family: "General Sans Medium", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 60px 40px;
    container-type: inline-size;
}

.title {
    font-size: 24.5cqi;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.7;
    padding-top: 100px;
    -webkit-font-smoothing: antialiased;
}

.hero-content {
    font-size: 3cqi;
    line-height: normal;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Thunder BoldLC", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    overflow: visible;
}

.video-wrapper {
    width: 30%;
    position: relative;
    flex-shrink: 0;
    transform-origin: left bottom;
}

.hero-content video {
    width: 100%;
    display: block;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.hero-title h2 {
    line-height: 0.5;
    vertical-align: middle;

}

.timezones {
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--text);
    font-family: "General Sans Medium", sans-serif;
}

.timezone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.featured-works {
    margin-top: 200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px 60px 40px;
}

.featured-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--text);
}

.featured-title h1 {
    font-size: 20cqi;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.7;
    padding-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.works-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.work-item {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-item h3 {
    font-size: 1.5cqi;
    line-height: 1;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
}

.services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
    margin-top: 700px;
    margin-bottom: 400px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    color: var(--text);
    font-family: "General Sans Medium", sans-serif;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-bottom: 400px;
}


.footer-content h2 {
    font-size: 10rem;
    line-height: normal;
    font-weight: bold;
    font-family: "Thunder ExtraBoldLC", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    padding-top: 40px;
}

.footer-content p {
    font-size: 1.5cqi;
    line-height: 1;
    font-weight: medium;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.7;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.form-input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-input-field label {
    width: 100%;
    font-size: 15px;
    line-height: 1;
    font-weight: medium;
    text-transform: none;
    white-space: nowrap;
    line-height: 0.7;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

form {
    width: 100%;
}

.form-input-field input {
    width: 100%;
    height: 100px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--text);
    color: var(--text);
    font-family: "General Sans Medium", sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    margin:0;
}

.form-input-field input::placeholder {
    color: #747572;
    font-family: "General Sans Medium", sans-serif;
    text-transform: uppercase;
    font-size: 64px;
}

.form-input-field input:focus {
    outline: none;
}

.form-input-field textarea {
  width: 100%;
  min-height: 200px;
  resize: none;        /* ne lehessen kézzel húzni */
  overflow: hidden;    /* ne legyen scrollbar */
  display: block;
  box-sizing: border-box;
  font-family: "General Sans Medium", sans-serif;
  text-transform: uppercase;
  font-size: 64px;
  color:#747572;
  background: none;
  border: none;
}

.form-input-field textarea:focus {
    outline: none;
}

form button {
    background: var(--text);
    border: none;
    color: var(--bg);
    font-family: "General Sans Medium", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 60px;
    cursor: pointer;
}

footer img {
    padding-top: 100px;
    width: 40%;
    object-fit: contain;
}

@media (max-width: 1000px) {

    .hero {
        padding: 0 20px;
    }

    nav {
        padding: 20px 20px;
    }
    
    .hero-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        padding-top: 40px;
    }

    .video-wrapper {
        width: 100%;
    }

    .hero-title {
        padding-top: 50px;
        align-items: center;
    }

    .hero-title h2 {
        font-size: 15cqi;
    }

    .timezone p {
        font-size: 12px;
    }

    .location p {
        font-size: 12px;
    }

    .featured-works {
        padding: 0 20px;
    }

    .featured-title h1 {
        font-size: 18.5cqi;
        padding-top: 0;
    }

    .works-grid {
        flex-direction: column;
    }

    .work-item {
        width: 100%;
    }

    .work-item h3 {
        font-size: 4cqi;
    }

    .services {
        margin-top: 200px;
        padding: 0 20px;
        margin-bottom: 100px;
    }

    .services h1{
        font-size: 17cqi;
    }

    .footer {
        padding: 0 20px;
        flex-direction: column;
    }

    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .footer-content h2 {
        font-size: 15cqi;
    }

    .footer-content p {
        font-size: 5cqi;
        padding-top: 20px;
    }

    .footer-content img {
        padding-top: 30px;
        width: 50%;
    }

    .footer-form {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .form-input-field input {
        margin-top: 5px;
        padding-top: 10px;
        font-size: 25px;
        height: 50px;
    }
    .form-input-field input::placeholder {
        font-size: 25px;
    }

    .form-input-field textarea {
        padding-top: 10px;
        font-size: 25px;
    }
}