:root {
  --bg: #F8F1FF;
  --text: #0F0A0A;
  --orange: #FF8200;
}

.dark {
  --bg: #0F0A0A;
  --text: #F8F1FF;
}

body {
  background: var(--bg);
  color: var(--text);
}

.disabled {
  color: #747572;
}

@font-face {
  font-family: "Thunder ExtraBoldLC";
  src: url("../fonts/Thunder-ExtraBoldLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Thunder BoldLC";
  src: url("../fonts/Thunder-BoldLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General Sans Medium";
  src: url("../fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General Sans Regular";
  src: url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General Sans Italic";
  src: url("../fonts/GeneralSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

