:root {
  --transition-color: var(--bg); /* ezt használja */
}


#page-transition {
  position: fixed;
  inset: 0;
  background: var(--transition-color);
  z-index: 999999;

  transform: translateY(100%);
  will-change: transform;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  display: block;
  visibility: visible;
  opacity: 1;
}

/* belép */
#page-transition.enter {
  animation: enter 0.9s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/* kilép */
#page-transition.exit {
  animation: exit 0.9s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes enter {
  0% { transform: translateY(100%); }
  50% { transform: translateY(0%); }
  100% { transform: translateY(0%); }
}

@keyframes exit {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}