:root {
  --transition-color: var(--bg);
}

#page-transition {
  position: fixed;
  inset: 0;
  background: var(--transition-color);
  z-index: 999999;

  will-change: transform background;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  display: block;
  visibility: visible;
  opacity: 1;

  pointer-events: none;
}
